*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #BACD92;
    text-align: center;
}

h1{
    color: #75A47F;
    font-size: xxx-large;
    text-decoration: underline;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    font-size: 8vmin;
    color: #75A47F;
    background-color: #FCFFE0;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #FCFFE0;
    color: #75A47F;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

#new-btn{
    padding: 1rem;
    font-size: 0.85rem;
    background-color: #FCFFE0;
    color: #75A47F;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

#msg{
    color: #FCFFE0;
    font-size: 8vmin;
}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.hide{
   display: none;
}